
/*.my-container{
    border: 1px solid green;
}

.my-row{
    border: 3px solid red;
}*/

/*.my-col{
    border: 2px solid blue;
}*/
/*.my-aside{
    border: 2px solid purple;
}*/

.nav-list{
   /* border: 5px solid red;*/
    width: 99999%;
}